.modal-visit-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  max-width: 670px;
  min-width: 600px;
}

.css-19kzrtu {
  padding: .7rem !important;
}

@media (max-width: 750px) {
  .modal-visit-details {
    max-width: 95%;
    min-width: 95%;
  }
}
